@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap');

h2, .card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    
}

p, span, a, .card-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
}