@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap');


// Navbar Styles
#nav-title {
    font-size: 1.5rem;
    font-weight: 600;
}
#n-item {
    padding: 0px 2.2rem;
    font-weight: 500;
}
a {
    color: black;
    text-transform: uppercase;

}
.jumbotron {
    background-color: #f9b798;
    min-height: 30vh;
}

//Hero Styles
#hero-text {
    //font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #62a4ab;
}