
.page-title {
    text-transform: uppercase;
    font-weight: 600;
    color: #62A3AB;
    font-size: 2rem;
}

.subtitled {
    font-weight: 500;
    text-transform: uppercase;
}


.card-header {
    background-color: #39971C;
    color: whitesmoke;
}